body {
    background-color: rgba(58, 54, 54, 0.523);
    font-size: 25px;
}

.container {
    display: flex;
}
.container > div {
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 3px;
    min-height: 60px;
}
.form {
    margin: 0 auto;
}

span {
    color: crimson;
    margin-left: 10px;
}

.my_orders {
    position: absolute;
    right: 70px;
    bottom: 70px;
}
.back {
    position: absolute;
    left: 70px;
    bottom: 70px;
}

